//이곳은 variables입니다


//line height style
$line-height-none: 1 !default;
$line-height-base: 1.5 !default;

//font style
$font-family-base: sans-serif !default;
$font-size-root: 62.5% !default; //10px 1rem으로 설정